* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background: black;
    margin: 0 auto;
    padding: 0 auto;

}

section, footer {
    width: 1024px;
}

section {
    background: green;

}

footer {
    background: blue;
}

body > section > #corpo
{
    background: white;

}

body{
    #end
    background: #0000FF;
}