* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background: #98FB98;
    margin: 0 auto;
    padding: 0 auto;


}

section, footer {
    width: 1024px;
    color: blue;
}

section {
    background: blue;

}

footer {
    background: blue;
    color:blue;
}

body > section > #corpo
{
    background: white;

}